<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>TravelPlan</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script
      src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap&libraries=&v=weekly"
      defer
    ></script>
  <!-- 自サイトのCSS -->
  <link rel="stylesheet" href="main.css">
   <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
  <!-- 一覧画面 -->
  <section id = "travelplan">
    <header>
    <div id="cover">
      <h1 id="cover__title">Travel Plan</h1>
    </div>
    </header>
    
    

  <div id="main" class="container">
   <div class="row">
    <div id = "travel" class="travel col-md-6">
      <h2>旅行計画</h2>
      <ul id="list" class="list sortable">
        <li v-for="(todo, index) in todos" class="item">
          {{ todo }}
          <span @click="deleteItem(index)" class="command">削除</span>          
        </li>
      </ul> 
      <form @submit.prevent="addItem">
        <input type="text" v-model="newItem">
        <input type="submit" value="Add">
      </form>
    </div>  
    
    <div class="col-md-6 calender">
      <h2>旅行日を決める</h2>
      <table>
        <thead>
          <tr>
            <th id="prev">&laquo;</th>
            <th id="title" colspan="5">2020/05</th>
            <th id="next">&raquo;</th>
          </tr>
          <tr>
            <th>Sun</th>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
          <tr>
            <td id="today" colspan="7">Today</td>
          </tr>
        </tfoot>
    </table>
  </div>
  </div>
  
  
  
  <div class="row">
      <div id ="mapdiv" class="col-md-6">
         <h2>地図から探す</h2>
       <div id="map"></div>
      </div>      
      <div id="app" class="col-md-6">
        <div>
          <h2>画像から探す</h2>
          <form
            class="form-inline justify-content-center"
            v-on:submit.prevent="fetchImagesFromFlickr"
            >
          <input
            type="search" name="search"
            class="form-control"
            placeholder="検索テキストを入力"
            aria-label="Search"
            >
          <button
            type="submit"
            class="btn btn-outline-primary"
            >
              検索
          </button>
          </form>
        </div>
      <div class="row justify-content-center">
        <a
          v-for="photo in photos"
          v-bind:key="photo.id"
          v-bind:href="photo.pageURL"
          v-tooltip="photo.text"
          class="d-inline-block"
          target="_blank"
        >
          <img
            v-bind:src="photo.imageURL"
            v-bind:alt="photo.text"
            width="150"
            height="150"
          >
        </a>
      </div>
    </div>
  </div>
  </div>

  </section>


  <!-- Firebaseのセットアップコード（下記のSDKのバージョンは6.2.0） -->
  <!-- The core Firebase JS SDK is always required and must be listed first 
    (中心となるFirebase SDKです。常に必要で、最初に記述する必要があります) -->
  <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#config-web-app
        (使いたいFirebaseサービス用のSDKを加えます) -->
  <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-storage.js"></script>


  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <!-- Popper.js, 次に Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="main.js"></script>

  <!-- Font Awesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>
  <script src="Sortable.min.js"></script>
  <script>
new Sortable(list, {
  animation: 150,
  ghostClass: 'blue-background-class'
});  

</script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
</body>

</html>